@page
@model Category
@{
    ViewData["Title"] = "Add Category";
    ViewData["Icon"] = "plus";
}

@if (ViewData["Success"] != null)
{
    <div class="alert alert-success">
        <i class="fa fa-info-circle"></i> <strong>@ViewData["Success"]</strong>
    </div>
}

<form method="post">

    <div class="row">

        <div class="form-group col-md-6">
            <label asp-for="CategoryType"></label>
            <select asp-for="CategoryType" class="form-control" asp-items="Html.GetEnumSelectList<CategoryType>()"></select>
            <span class="text-danger" asp-validation-for="CategoryType"></span>
        </div>

        <div class="form-group col-md-6">

            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span class="text-danger" asp-validation-for="Name"></span>

        </div>

    </div>

    <hr />

    <button type="submit" class="btn btn-success">
        <i class="fa fa-plus"></i> Add
    </button>

</form>
