@model IEnumerable<Category>
@{
    ViewData["Title"] = "Manage Categories";
}

<partial name="~/Views/Partials/_Navigation.cshtml" />

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-sm-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">@category.Name</h5>
                    <p class="card-text">
                        <i class="fa fa-file-text text-primary"></i> <span class="text-secondary">@category.CategoryType</span>
                    </p>
                    <hr />
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@category.Id" title="Edit"><i class="fa fa-edit"></i></a>
                    <form asp-action="Delete"
                          asp-route-id="@category.Id"
                          style="display:inline"
                          onsubmit="return confirm('Are you sure you want to proceed?')">
                        <button class="btn btn-secondary" title="Delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
