@model IEnumerable<Streamia.Models.Bouquet>
@{
    ViewData["Title"] = "Manage Resellers";
}

<partial name="~/Views/Partials/_Navigation.cshtml" />

<div class="row">
    @foreach (var bouquet in Model)
    {
        <div class="col-sm-3 mb-3">
            <h1>Resellers</h1>
        </div>
    }
</div>

