@model Movie
@{
    ViewData["Title"] = "Add Movie";
    ViewData["Icon"] = "plus";
}

@section Styles {
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/switchery/switchery.css" rel="stylesheet" />
}

<form method="post">
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Name"></label>
            <div class="api-search-container">
                <input asp-for="Name" id="movie-name" class="form-control" autocomplete="off" />
                <div class="api-search-dropdown"></div>
            </div>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Path"></label>
            <input asp-for="Path" class="form-control" />
            <span class="text-danger" asp-validation-for="Path"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))" class="form-control">
            </select>
            <span class="text-danger" asp-validation-for="CategoryId"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Note"></label>
            <input asp-for="Note" class="form-control" />
            <span class="text-danger" asp-validation-for="Note"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="PosterUrl"></label>
            <input asp-for="PosterUrl" class="form-control" />
            <span class="text-danger" asp-validation-for="PosterUrl"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="BackdropUrl"></label>
            <input asp-for="BackdropUrl" class="form-control" />
            <span class="text-danger" asp-validation-for="BackdropUrl"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Overview"></label>
            <input asp-for="Overview" class="form-control" />
            <span class="text-danger" asp-validation-for="Overview"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Cast"></label>
            <input asp-for="Cast" class="form-control" />
            <span class="text-danger" asp-validation-for="Cast"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Director"></label>
            <input asp-for="Director" class="form-control" />
            <span class="text-danger" asp-validation-for="Director"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Gener"></label>
            <input asp-for="Gener" class="form-control" />
            <span class="text-danger" asp-validation-for="Gener"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="ReleaseDate"></label>
            <input asp-for="ReleaseDate" class="form-control" />
            <span class="text-danger" asp-validation-for="ReleaseDate"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Runtime"></label>
            <input asp-for="Runtime" class="form-control" />
            <span class="text-danger" asp-validation-for="Runtime"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Rating"></label>
            <input asp-for="Rating" class="form-control" />
            <span class="text-danger" asp-validation-for="Rating"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="ChannelSid"></label>
            <input asp-for="ChannelSid" class="form-control" />
            <span class="text-danger" asp-validation-for="ChannelSid"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Extension"></label>
            <input asp-for="Extension" class="form-control" />
            <span class="text-danger" asp-validation-for="Extension"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="SubtitleLocation"></label>
            <input asp-for="SubtitleLocation" class="form-control" />
            <span class="text-danger" asp-validation-for="SubtitleLocation"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="BouquetIds"></label>
            <select asp-for="BouquetIds" asp-items="@(new SelectList(ViewBag.Bouquets,"Id","Name"))" class="form-control" multiple></select>
            <span class="text-danger" asp-validation-for="BouquetIds"></span>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <input asp-for="DirectSource" class="js-switch" />
                <label asp-for="DirectSource"></label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <input asp-for="NativeFrame" class="js-switch" />
                <label asp-for="NativeFrame"></label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <input asp-for="RemoveExistingSubtitle" class="js-switch" />
                <label asp-for="RemoveExistingSubtitle"></label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <input asp-for="ProcessMovie" class="js-switch" />
                <label asp-for="ProcessMovie"></label>
            </div>
        </div>
    </div>
    <hr />
    <button class="btn btn-success">
        <i class="fa fa-plus"></i> Add
    </button>
</form>

@section Scripts
{
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/switchery/switchery.js"></script>
    <script>

        $('select').select2({
            theme: 'bootstrap4'
        });

        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

        elems.forEach(function (html) {
            new Switchery(html);
        });

        var timeout = null;
        var inputVal = null;

        $('#movie-name').on('keyup', function () {
            $('.api-search-dropdown').html('<div class="api-search-result">Searching...</div>').show();

            inputVal = $(this).val();

            if (timeout === null) {
                timeout = setTimeout(function () {
                    TMDBSearch(inputVal);
                    timeout = null;
                }, 500);
            }

        });

        $('body').on('click', '.api-search-result', function () {
            $('.api-search-dropdown').hide();
            var movieId = $(this).data('id');
            TMDBMovie(movieId);
        });

        function TMDBMovie(movieId) {
            $.ajax({
                type: 'GET',
                url: `https://api.themoviedb.org/3/movie/${movieId}?api_key=415e9238d5188172426c3858b367e468&language=en-US&append_to_response=credits%2Cvideos`,
                success: function (response) {
                    console.log(response);
                    let genres = [];
                    let cast = [];
                    let director = null;
                    response.genres.forEach(v => {
                        genres.push(v.name);
                    });
                    response.credits.cast.forEach(v => {
                        cast.push(v.name);
                    });
                    for (let v of response.credits.crew) {
                        if (v.department === "Directing") {
                            director = v.name;
                            break;
                        }
                    }
                    $('#movie-name').val(response.title);
                    $('#PosterUrl').val(`https://image.tmdb.org/t/p/w600_and_h900_bestv2/${response.poster_path}`);
                    $('#BackdropUrl').val(`https://image.tmdb.org/t/p/w1280/${response.poster_path}`);
                    $('#Overview').val(response.overview);
                    $('#Rating').val(response.vote_average);
                    $('#Runtime').val(response.runtime);
                    $('#Gener').val(genres.join(','));
                    $('#Cast').val(cast.join(','));
                    $('#ReleaseDate').val(response.release_date);
                    $('#Director').val(director);
                }
            });
        }

        function TMDBSearch(keyword) {
            $.ajax({
                type: 'GET',
                url: `https://api.themoviedb.org/3/search/movie?api_key=415e9238d5188172426c3858b367e468&query=${keyword}`,
                success: function (response) {
                    $('.api-search-dropdown').html('');
                    response.results.forEach(v => {
                        $('.api-search-dropdown').append(`
                            <div class="api-search-result" data-id="${v.id}">
                                ${v.title} (${v.release_date ? v.release_date.split('-')[0] : ''})
                            </div>
                        `);
                    });
                }
            });
        }
    </script>
}