* {
    font-family: 'Noto Sans', sans-serif;
    outline: none;
}

body {
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

input,
.btn,
.select2-selection,
textarea {
    border-radius: 0 !important;
}

.main-btn {
    background: linear-gradient(180grad, #0086B7 9%, #0b0780 64%);
    color: #fff;
    border: none;
    min-height: 37px;
    min-width: 37px;
    padding-right: 15px;
    padding-left: 15px;
}

.profile-picture {
    width: 35px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100vh;
    overflow: hidden !important;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: linear-gradient(180grad, #0086B7 9%, #0b0780 64%);
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
}

#sidebar .active {
    color: #000;
    background-color: #cdebf6;
}

#sidebar i {
    width: 30px;
}

#sidebar .sidebar-header {
    padding: 10px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.3em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000;
    background-color: #cdebf6;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul li div a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background-color: #043684;
}
a svg
{
    width:30px !important;
}

/*Right bar*/

.right-bar {
    background: linear-gradient(180grad, #0086B7 9%, #0b0780 64%);
    color: #fff;
    width:40px;
}

.right-bar-options {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 25px 3px;
    height: 400px;
    transform: rotate(180deg);
    writing-mode:vertical-lr;
}



#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    overflow: hidden;
    background-color: #e3e3e3;
    background-image: url('../Pictures/content-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#content .content-overlay {
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgba(237, 237, 237, 0.90);
}

.main-content {
    max-height: calc(100% - 80px);
    padding: 25px;
    background-color: #FFF;
    overflow-y: auto;
}

.form-group label {
    font-weight: bold;
    color: #6c757d;
}

.form-control {
    background-color: #fefeff !important;
}

.custom-control-input {
    background-color: #fefeff !important;
}

/* Login */
.login-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background-image: url('../Pictures/streamia.gif');
    background-position: center center;
    background-size: cover;
}

.login-container .login-overlay {
    padding-top: 25vh;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
}

.login-container .login-box {
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(255, 255, 255, .6);
}

/* Search module */
#search-module {
    position: relative;
}

#search-module button {
    position: absolute;
    top: 0;
    right: 0;
}

.exploriable {
    position: relative;
}

.exploriable button {
    position: absolute;
    right: 0;
    top: 0;
}
