body {
    font-family: sans-serif;
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

input,
.btn,
.select2-selection,
textarea {
    border-radius: 0 !important;
}

.main-btn {
    background: linear-gradient(0deg, rgb(100, 40, 137) 0%, rgb(31, 6, 63) 49%, rgb(0, 0, 0) 100%);
    color: #fff;
    border: none;
    min-height: 37px;
    min-width: 37px;
    padding-right: 15px;
    padding-left: 15px;
}

.menu-button {
    display: none !important;
    position: fixed !important;
    top: 40px !important;
    left: 40px !important;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: none;
    border: solid 2px black;
    border-radius: 5px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    width: 40px;
}

.menu-text {
    color: white;
}

.line-menu-icon {
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 2px 0;
    border-radius: 5px;
}

.navbar {
    background: #fefeff;
    border: none;
}


.page-title {
    font-weight: 500;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.profile-picture {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.profile-name {
    font-size: 14px;
    margin-right: 8px;
}

.notification-link {
    font-size: 20px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100vh;
    overflow: hidden !important;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: linear-gradient(0deg, rgb(100, 40, 137) 0%, rgb(31, 6, 63) 49%, rgb(0, 0, 0) 100%);
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar i {
    width: 30px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #000;
    border-bottom: 1px solid #555;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: linear-gradient(0deg, rgb(100, 40, 137) 0%, rgb(31, 6, 63) 49%, rgb(0, 0, 0) 100%);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #000;
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    overflow: hidden;
    background-color: #e3e3e3;
    background-image: url('../Pictures/content-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#content .content-overlay {
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgba(237, 237, 237, 0.90);
}

.main-content {
    max-height: calc(100% - 80px);
    margin-top: 25px;
    padding: 25px;
    background-color: #FFF;
    overflow-y: auto;
}

.form-group label {
    font-weight: bold;
    color: #6c757d;
}

.form-control {
    background-color: #fefeff !important;
}

.custom-control-input {
    background-color: #fefeff !important;
}

/* Login */
.login-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background-image: url('../Pictures/streamia.gif');
    background-position: center center;
    background-size: cover;
}

.login-container .login-overlay {
    padding-top: 25vh;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
}

.login-container .login-box {
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(255, 255, 255, .6);
}

/* Search module */
#search-module {
    position: relative;
}

#search-module button {
    position: absolute;
    top: 0;
    right: 0;
}
