@model Transcode
@{
    ViewData["Title"] = "Add Transcode";
}

<partial name="~/Views/Partials/_Navigation.cshtml" />

<form method="post">

    <div class="row">

        <div class="form-group col-md-6">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="VideoCodec"></label>
            <select class="form-control" asp-for="VideoCodec" asp-items="@(new SelectList(Transcoder.VideoProfiles))">
            </select>
            <span class="text-danger" asp-validation-for="VideoCodec"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="AudioCodec"></label>
            <input asp-for="AudioCodec" class="form-control" />
            <span class="text-danger" asp-validation-for="AudioCodec"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="MinBitrate"></label>
            <input asp-for="MinBitrate" class="form-control" />
            <span class="text-danger" asp-validation-for="MinBitrate"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="MaxBitrate"></label>
            <input asp-for="MaxBitrate" class="form-control" />
            <span class="text-danger" asp-validation-for="MaxBitrate"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="AvgAudioBitrate"></label>
            <input asp-for="AvgAudioBitrate" class="form-control" />
            <span class="text-danger" asp-validation-for="AvgAudioBitrate"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="AvgVideoBitrate"></label>
            <input asp-for="AvgVideoBitrate" class="form-control" />
            <span class="text-danger" asp-validation-for="AvgVideoBitrate"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="BufferSize"></label>
            <input asp-for="BufferSize" class="form-control" />
            <span class="text-danger" asp-validation-for="BufferSize"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="CRF"></label>
            <input asp-for="CRF" class="form-control" />
            <span class="text-danger" asp-validation-for="CRF"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="VideoPreset"></label>
            <input asp-for="VideoPreset" class="form-control" />
            <span class="text-danger" asp-validation-for="VideoPreset"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="AudioSampleRate"></label>
            <input asp-for="AudioSampleRate" class="form-control" />
            <span class="text-danger" asp-validation-for="AudioSampleRate"></span>
        </div>

    </div>

    <hr />

    <button type="submit" class="btn btn-success">
        <i class="fa fa-plus"></i> Add
    </button>

</form>
