@model Transcode
@{
    ViewData["Title"] = "Edit Transcode";
}

@section Styles {
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css" rel="stylesheet" />
}

<partial name="~/Views/Partials/_Navigation.cshtml" />

<form method="post">

    <input type="hidden" asp-for="Id" />

    <h6 class="font-weight-bold text-primary"><i class="fa fa-sliders"></i> General</h6>

    <div class="form-group row">
        <label asp-for="Name" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="Name" class="form-control" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Preset" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <select class="form-control" asp-for="Preset" asp-items="@(new SelectList(Transcoder.Presets))"></select>
            <span class="text-danger" asp-validation-for="Preset"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="CRF" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="CRF" class="form-control" />
            <span class="text-danger" asp-validation-for="CRF"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Threads" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="Threads" class="form-control" />
            <span class="text-danger" asp-validation-for="Threads"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="AnalyzeDuration" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="AnalyzeDuration" class="form-control" />
            <span class="text-danger" asp-validation-for="AnalyzeDuration"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Probsize" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="Probsize" class="form-control" />
            <span class="text-danger" asp-validation-for="Probsize"></span>
        </div>
    </div>

    <hr />

    <h6 class="font-weight-bold text-primary"><i class="fa fa-film"></i> Video</h6>

    <div class="form-group row">
        <label asp-for="VideoCodec" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <select class="form-control" asp-for="VideoCodec" asp-items="@(new SelectList(Transcoder.VideoCodecs))"></select>
            <span class="text-danger" asp-validation-for="VideoCodec"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="VideoProfile" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <select class="form-control" asp-for="VideoProfile" asp-items="@(new SelectList(Transcoder.VideoProfiles))"></select>
            <span class="text-danger" asp-validation-for="VideoProfile"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="TargetVideoFrameRate" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="TargetVideoFrameRate" class="form-control" />
            <span class="text-danger" asp-validation-for="TargetVideoFrameRate"></span>
        </div>
    </div>

    <hr />

    <h6 class="font-weight-bold text-primary"><i class="fa fa-volume-up"></i> Audio</h6>

    <div class="form-group row">
        <label asp-for="AudioCodec" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <select class="form-control" asp-for="AudioCodec" asp-items="@(new SelectList(Transcoder.AudioCodecs))"></select>
            <span class="text-danger" asp-validation-for="AudioCodec"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="AudioSampleRate" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="AudioSampleRate" class="form-control" />
            <span class="text-danger" asp-validation-for="AudioSampleRate"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="AudioChannels" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="AudioChannels" class="form-control" />
            <span class="text-danger" asp-validation-for="AudioChannels"></span>
        </div>
    </div>

    <hr />

    <h6 class="font-weight-bold text-primary"><i class="fa fa-object-group"></i> Bitrate</h6>

    <div class="form-group row">
        <label asp-for="AvgBitrate" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="AvgBitrate" class="form-control" />
            <span class="text-danger" asp-validation-for="AvgBitrate"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="MinBitrate" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="MinBitrate" class="form-control" />
            <span class="text-danger" asp-validation-for="MinBitrate"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="MaxBitrate" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="MaxBitrate" class="form-control" />
            <span class="text-danger" asp-validation-for="MaxBitrate"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="BufferSize" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input asp-for="BufferSize" class="form-control" />
            <span class="text-danger" asp-validation-for="BufferSize"></span>
        </div>
    </div>

    <hr />

    <button type="submit" class="main-btn">
        <i class="fa fa-plus"></i> Add
    </button>

</form>

@section Scripts {
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script>
        $('select').select2({
            theme: 'bootstrap4'
        });
    </script>
}
