@model IEnumerable< Streamia.Models.Bouquet>
@{
    ViewData["Title"] = "Manage Bouquets";
    ViewData["Icon"] = "list";
}
@section Styles {
    <link href="~/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bouquet in Model)
        {
            <tr>
                <td>@bouquet.Name</td>
                <td>
                    <a class="btn btn-warning" href="/bouquets/edit/@bouquet.Id"><i class="fa fa-edit"></i></a>
                    <a asp-page="./Manage" onclick="return confirm('Are you sure you want to delete this item?');"
                       asp-page-handler="Delete" asp-route-id="@bouquet.Id"
                       class="btn btn-danger" id="delete" value="Delete"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script src="~/datatables/js/jquery.dataTables.js"></script>
    <script src="~/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $('table').DataTable();
    </script>

}