@model Streamia.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    ViewBag.Icon = "lock";
}

<div class="login-container">
    <div class="login-overlay">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="login-box">
                    <h3 class="font-weight-bold text-center text-secondary">Login to Streamia</h3>
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                        <button type="submit" class="btn btn-secondary">
                            <i class="fa fa-lock"></i> Login
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>