<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link navigation-link" asp-action="add">Add</a>
    </li>
    <li class="nav-item">
        <a class="nav-link navigation-link" asp-action="manage">Manage</a>
    </li>
</ul>
<script>
    window.addEventListener('load', () => {
        $('.navigation-link').each(function () {
            let currentHref = $(this).attr('href').toLowerCase();
            if (window.location.pathname.toLowerCase() === currentHref) {
                $(this).addClass('active');
            }
        });
    })
</script>