<div>
    <div class="row">
        <div class="col-md-6">
            <a asp-action="add" class="btn btn-success">Add</a>
        </div>
        <div class="col-md-6">
            <a asp-action="manage" class="btn btn-primary">Manage</a>
        </div>
    </div>
</div>